<!DOCTYPE html>
<html>
    {{>head}}
        <body>
            <div class= "main-content">
                {{>header}}
                <img class="potrait" src="/img/vani.jpg">
            </div>
            {{>footer}}
        </body>
</html>
