<!DOCTYPE html>
<html>
    {{>head}} 
    <body>
        <div class= "main-content">
            {{>header}}
        </div>

        <section class="bantuan" id="bantuan">
            <div class="container">
                <h2>FAQ (Frequently Asked Questions) 🤔😊</h2>
                <div class="box">
                    <div class="teks">
                    <h3>1. Apa fungsi utama dari aplikasi ini?</h3>
                    <p>Aplikasi ini membantu pengguna untuk mengetahui kondisi cuaca terkini dan prakiraan beberapa hari ke depan berdasarkan lokasi mereka.</p>
                </div>
            </div>

                <div class="box">
                    <div class="teks">
                    <h3>2. Dari mana data cuaca di situs ini berasal?</h3>
                    <p>Data cuaca diambil dari layanan penyedia informasi cuaca terpercaya seperti OpenWeatherMap, BMKG, atau WeatherAPI, 
                        yang memperbarui informasi secara berkala agar tetap akurat dan real-time</p>
                </div>
            </div>

                <div class="box">
                    <div class="teks"> 
                    <h3>3. Apakah situs ini menampilkan cuaca sesuai lokasi saya?</h3>
                    <p>Ya, jika kamu mengizinkan akses lokasi, sistem akan otomatis mendeteksi lokasi kamu dan menampilkan cuaca berdasarkan koordinat GPS atau kota terdekat.</p>
                </div>
                </div>
            </div>
        </section>
        {{>footer}}
    </body>
</html>
