<!DOCTYPE html>
<html>
    {{>head}}
        <body>
          <div class="main-content">
                {{>header}}
          </div>

          <section class="about" id = "about">
            <div class="row">
              <div class="about-img">
                <img src="/img/vani.jpg">
              </div>

              <div class="container">
                <h2><b>Tentang Saya</b></h2>
                <p>
                Halo, saya <b>Devani</b>, seorang mahasiswi Teknik Informatika di Universitas Negeri Padang yang memiliki ketertarikan besar pada dunia teknologi dan inovasi digital. 
                Saya senang mengeksplorasi berbagai aspek pemrograman, pengembangan web, dan teknologi jaringan.
                </p>
              </div>
            </div>
          </section>
  
            {{>footer}}
        </body>
</html>
